<div class="search">
  <form #form="ngForm" (ngSubmit)="onSubmit()" >
    <input type="text"
     placeholder="Buscar Localização"
      name="city"
      [(ngModel)]="initialCityName"
      /><!--[disabled]="!initialCityName"ligação do html com o typescript --> <!--[(ngModel)]="initialCityName" Twowey data Bind além de se conectar com a propriedade typescript, o ngModel ele vai escutar as alterações  dessa propriedade e ira setar na propriedade oq for modificado, no caso em questão, buscado-->
      <span (click)="onSubmit()">
        <fa-icon
        animation="fade"
        style="--fa-animation-duration: 5s; cursor: pointer;"
        size="lg"
        class="search-icon"
        [icon]="searchIcon"></fa-icon>
      </span>
  </form>
</div>

<app-weather-card *ngIf="weatherDatas" [weatherDatasInput]="weatherDatas"></app-weather-card>
